@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  
  /* The following lines appropriately spaces the header, content, and footer vertically on the page. */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
  /* I added some padding to the logo. */
  padding: 10px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px 16px;
  font-weight: 500;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* This type selector removes the list bullet points for the header and footer. */
ul {
  list-style-type: none;
}

/* This type selector removes the underline and blue color from the left and right links. */
a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* This class selector appropriately spaces the left links from the right links in the header and footer. */
.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  font-size: 17px;
}

/* This class selector add the required background color to the footer. */
.footer {
  background-color: #eeeeee;
}

/* The following class selector appropraitely aligns and spaces the links within the header and footer. */
.left-links, .right-links {
  display: flex;
  padding: 8px;
  gap: 16px;
}

/* The following class selector displays the logo, input, and buttons in the center of the page and stacks the elements vertically. */
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}