body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;

  /* Div one will have 32px between their text and border. */
  padding: 32px;

  /* Div one will have 12px between it and any other element on the page. */
  margin: 12px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  
  /* There will be a 48px gap between Div two and Div three */
  margin-bottom: 48px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;

  /* Div three will have 32px between their text and border. */
  padding: 32px;

  /* Div three will be aligned to the right. */
  margin-left: auto;
}